body {
	margin: 0;
	padding: 0.5em;
}

#header {
	margin: 0;
	padding: 0 0 0 0.5em;
	background-color: black;
	color: white;
	font-size: 30pt;
}

table {
	border: 0;
	border-collapse: collapse;
	width: 80%;
	padding: 1em;
	margin: 0 auto;
}

td, th{
	border-bottom: 1px solid #ccc;
	padding: 5px 0 5px 5px;	
}

th {
	font-style: bold;
	text-align: left;
}

tr:nth-child(even) {
	background-color: #f0f0f0;
}

input[type="radio"] {
	margin: 0;
}
